In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tautira,PF,2022-04-01 13:27:35,-17.7333,-149.1500,81.12,78,87,9.95
1,1,Waingapu,ID,2022-04-01 13:27:36,-9.6567,120.2641,79.07,81,5,2.17
2,2,Hilo,US,2022-04-01 13:23:20,19.7297,-155.0900,71.33,91,40,6.91
3,3,Grand Gaube,MU,2022-04-01 13:27:36,-20.0064,57.6608,76.37,86,100,8.01
4,4,Bluff,NZ,2022-04-01 13:27:37,-46.6000,168.3333,48.45,77,9,7.85

In [3]:
#get the data types because the data we use for any mapping must be either an integer or a floating-point decimal
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tautira,PF,2022-04-01 13:27:35,-17.7333,-149.1500,81.12,78,87,9.95
1,1,Waingapu,ID,2022-04-01 13:27:36,-9.6567,120.2641,79.07,81,5,2.17
3,3,Grand Gaube,MU,2022-04-01 13:27:36,-20.0064,57.6608,76.37,86,100,8.01
5,5,Rikitea,PF,2022-04-01 13:27:37,-23.1203,-134.9692,75.49,69,100,20.65
9,9,Daru,PG,2022-04-01 13:27:38,-9.0763,143.2092,77.47,86,100,3.13
10,10,Cozumel,MX,2022-04-01 13:25:00,20.5083,-86.9458,81.95,84,20,13.00
13,13,Bonthe,SL,2022-04-01 13:27:39,7.5264,-12.5050,87.01,65,66,9.19
24,24,Kipini,KE,2022-04-01 13:27:42,-2.5257,40.5262,88.09,66,13,12.57
27,27,Atuona,PF,2022-04-01 13:27:01,-9.8000,-139.0333,77.99,74,27,7.83
28,28,Saint-Philippe,RE,2022-04-01 13:27:44,-21.3585,55.7679,80.19,88,100,17.07

In [13]:
preferred_cities_df.count()

City_ID       167
City          167
Country       166
Date          167
Lat           167
Lng           167
Max Temp      167
Humidity      167
Cloudiness    167
Wind Speed    167
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0          Tautira      PF     81.12 -17.7333 -149.1500
1         Waingapu      ID     79.07  -9.6567  120.2641
3      Grand Gaube      MU     76.37 -20.0064   57.6608
5          Rikitea      PF     75.49 -23.1203 -134.9692
9             Daru      PG     77.47  -9.0763  143.2092
10         Cozumel      MX     81.95  20.5083  -86.9458
13          Bonthe      SL     87.01   7.5264  -12.5050
24          Kipini      KE     88.09  -2.5257   40.5262
27          Atuona      PF     77.99  -9.8000 -139.0333
28  Saint-Philippe      RE     80.19 -21.3585   55.7679

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Tautira,PF,81.12,-17.7333,-149.1500,Pension Oaoa
1,Waingapu,ID,79.07,-9.6567,120.2641,Pondok Wisata Elim
3,Grand Gaube,MU,76.37,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
5,Rikitea,PF,75.49,-23.1203,-134.9692,People ThankYou
9,Daru,PG,77.47,-9.0763,143.2092,Daru Lodge
10,Cozumel,MX,81.95,20.5083,-86.9458,Cozumel Palace® All Inclusive Resort
13,Bonthe,SL,87.01,7.5264,-12.5050,Bonthe Holiday Village
24,Kipini,KE,88.09,-2.5257,40.5262,Delta Sea Mall
27,Atuona,PF,77.99,-9.8000,-139.0333,Villa Enata
28,Saint-Philippe,RE,80.19,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
#the variable is assgiend to a multiline strign using three quotes 
#the text isnide the multiline strign is HTML code: defined by the opening and closing the angular brackets 
#angular brackets always come in pairs 
#dl is the description 
#dt tag is a term or name in a description list that is nesder under the dl tag 
#info_box_template = """
#<dl>
#<dt>Name</dt><dd>{column1}</dd>
#<dt>Another name</dt><dd>{column2}</dd>
#</dl>
#"""

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [25]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))